<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cds</title>
</head>
<body>
<h1>Cds</h1>
<table>
    <thead>
    <th>Titre</th>
    <th>Anne Publication</th>
    <th>Auteur</th>
    <th>Nombre Exemplaires</th>
    <th>Duration</th>
    <th>Type</th>
    <th></th>
    </thead>
    <tbody>
    <th:block th:each="cd, stat : ${cds}">
        <tr>
            <td th:text="${cd.getTitre}">Titre</td>
            <td th:text="${cd.getAnneePublication()}">Titre</td>
            <td th:text="${cd.getAuteur()}">Titre</td>
            <td th:text="${cd.getNbrExemplaire()}">Titre</td>
            <td th:text="${cd.getDuration()}">Titre</td>
            <td th:text="${cd.getType()}">Titre</td>
        </tr>
    </th:block>
    </tbody>
</table>
<a th:href="@{'/'}">Retour page index</a><br>
<a th:href="@{'/choixdocument'}">Nouveau document</a>
</body>
</html>