<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <title>CRUD Prof</title>
</head>
<body>
<form action="#" th:action="@{/ajoutclient}" th:object="${client}"  method="post">
    <table border="1">
        <tr>
            <h1>Client</h1>
        </tr>
        <tr>
            <td><label>Prenom:</label></td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td><label>Nom de Famille:</label></td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td><label>Address:</label></td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td><label>Numero de Telephone:</label></td>
            <td><input type="text" th:field="*{phoneNumber}"/></td>
        </tr>
        <tr>
            <td><label>Courriel:</label></td>
            <td><input type="email" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="CREER"/></td>
        </tr>
    </table>
</form>
</body>
</html>